@import url(https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap);
@import url(https://fonts.googleapis.com/css?family=Noto+Sans&display=swap);

:root {
    --background: #0f131a;
    --dark-blue: #181847;
    --sig-blue: #004e4e;
    --light-blue: #008080;
    --dark-yellow: #ac7f20;
    --sig-yellow: #d49f2c;
    --light-yellow: #ddbb70;
    --text-white: #efefef;
    --caption-gray: #666;
    --w-caption-gray: #b9b9b9;;
}

@mixin center($cfg) {
    display: flex;
    justify-content: center;
    align-items: $cfg;
}

$breakpoints: (
  mobile : 0px, 
  tablet : 800px, 
  desktop: 1240px
);

@mixin media($keys...) {
    @each $key in $keys { 
        @media (min-width: map-get($breakpoints, $key)) {
            @content
        } 
    }
}



* {
    font-family:'Noto Sans KR', 'Noto Sans', 'serif';
    color: var(--text-white);
}

html, body {
    padding: 0;
    margin: 0;
    min-height: 100%;
    background-color: var(--background);
}

h1,h2,h3,h4,p {
    margin: 0;
}

main {
    @include media(mobile) {
        margin: 20px 5%;
    }
    @include media(tablet) {
        margin: 20px 15%;
    }
    @include media(desktop) {
        margin: 20px 25%;
    }
}

@mixin animation($time) {
    -webkit-transition: all $time linear;
    -moz-transition: all $time linear;
    -o-transition: all $time linear;
    transition: all $time linear;
}

div.layout {
    display: grid;
    grid-template-rows: minmax(130px, 11vh) auto min-content;
    min-height: 100vh;
}

@mixin stack-y {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 10px;
}

a {
    text-decoration: none;
}



header.header {
    display: grid;
    grid-template-rows: 45% 55%;
    height: 100%;

    .home-link {
        background-color: var(--dark-blue);
    }

    .home-link {
        @include center(center)
    }

    nav.links {
        padding: 8px 0;
        @include center(flex-start);
        /*
        border-width: 0 0 2px 0;
        border-style: solid;
        border-image: linear-gradient(to right, var(--light-blue), var(--sig-yellow), var(--light-blue));
        border-image-slice: 1;
        */
        background: linear-gradient(to bottom, var(--dark-blue) 40%, var(--background) 100%);

        & ul,li {
            list-style-type: none;
            padding: 0;
            margin: 0;
        }

        ul.tt_category li,ul {
            display: flex;
            flex-direction: row;
            gap: 20px;
            justify-content: center;
            align-items: center;
        }

        & a {
            font-weight: 700;
            padding-bottom: 3px;
            border-bottom: 2px solid transparent;
            @include animation(.3s);

            &:hover {
                border-color: var(--sig-yellow);
            }
        }
    }
}



$repeat-height: 200px;
div.list-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between;
    align-items: flex-end;

    & > .list-repeat {
        width: 100%;
        height: $repeat-height;
        position: relative;
        border-radius: 20px;
        overflow: hidden;
        display: block;

        background: linear-gradient(to left, var(--light-blue), var(--sig-blue));

        @include animation(0.2s);

        &:hover {
            transform: scale(1.006);
            box-shadow: 0px 0px 5px 2px #222;
        }

        img {
            position: absolute;
            top: 0;
            left: 0;
            height: $repeat-height;
            aspect-ratio: 1.414;
            -webkit-mask-image: -webkit-gradient(linear, left top, right top, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
            mask-image: linear-gradient(to right, rgba(0,0,0,1), rgba(0,0,0,0));
        }

        .article-info {
            margin-left: calc($repeat-height * 1.414);
            padding: 20px;
            max-height: calc(100% - 40px);
            overflow: hidden;

            @include stack-y();

            .title {
                color: var(--light-yellow);
            }

            .written {
                font-size: .9em;
                color: var(--w-caption-gray);
            }
        }
    }
}



footer.footer {
    padding: 13px 20px;
    border: solid 1px var(--dark-yellow);
    @include stack-y;

    & .link-site a {
        width: 24px;
        height: 24px;
    }

    & .inf p, i {
        color: var(--caption-gray);
    }

    & p, i {
        @include media(mobile) {
            font-size: .9em;
        }
        @include media(tablet, desktop) {
            font-size: 1em;
        }
    }

    @include media(mobile, tablet) {
        margin: 20px 7%;
    }
    @include media(desktop) {
        margin: 20px 15%;
    }
}
