@import url(https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap);
@import url(https://fonts.googleapis.com/css?family=Noto+Sans&display=swap);

:root {
    --background: #0f131a;
    --dark-blue: #181847;
    --sig-blue: #004e4e;
    --light-blue: #008080;
    --sig-yellow: #d49f2c;
    --dim-sig-yellow: #ac7f20;
    --text-white: #efefef;
    --caption-gray: #666;
}

@mixin center($cfg) {
    display: flex;
    justify-content: center;
    align-items: $cfg;
}

$breakpoints: (
  mobile : 0px, 
  tablet : 800px, 
  desktop: 1240px
);

@mixin media($keys...) {
    @each $key in $keys { 
        @media (min-width: map-get($breakpoints, $key)) {
            @content
        } 
    }
}



* {
    font-family:'Noto Sans KR', 'Noto Sans', 'serif';
    color: var(--text-white);
}

html, body {
    padding: 0;
    margin: 0;
    min-height: 100%;
    background-color: var(--background);
}

h1,h2,h3,h4,p {
    margin: 0;
}

main {
    @include media(mobile) {
        margin: 20px 5%;
    }
    @include media(tablet) {
        margin: 20px 15%;
    }
    @include media(desktop) {
        margin: 20px 25%;
    }
}

@mixin animation {
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear;
}

div.layout {
    display: grid;
    grid-template-rows: minmax(130px, 11vh) auto min-content;
    min-height: 100vh;
}

@mixin stack-y {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 10px;
}

a {
    text-decoration: none;
}



header.header {
    display: grid;
    grid-template-rows: 45% 55%;
    height: 100%;

    div.home-link {
        background-color: var(--dark-blue);
    }

    div.home-link {
        @include center(center)
    }

    nav.links {
        padding: 8px 0;
        @include center(flex-start);
        /*
        border-width: 0 0 2px 0;
        border-style: solid;
        border-image: linear-gradient(to right, var(--light-blue), var(--sig-yellow), var(--light-blue));
        border-image-slice: 1;
        */
        background: linear-gradient(to bottom, var(--dark-blue) 40%, var(--background) 100%);

        & ul,li {
            list-style-type: none;
            padding: 0;
            margin: 0;
        }

        ul.tt_category li,ul {
            display: flex;
            flex-direction: row;
            gap: 20px;
            justify-content: center;
            align-items: center;
        }

        & a {
            font-weight: 700;
            padding-bottom: 3px;
            border-bottom: 2px solid transparent;
            @include animation;

            &:hover {
                border-color: var(--sig-yellow);
            }
        }
    }
}



div.list-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between;
    align-items: flex-end;

    & > div.list-repeat {
        width: calc((100% - 10px)/2);
        height: fit-content;
    }
}



footer.footer {
    padding: 13px 20px;
    border: solid 1px var(--dim-sig-yellow);
    @include stack-y;

    & .link-site a {
        width: 24px;
        height: 24px;
    }

    & .inf p, i {
        color: var(--caption-gray);
    }

    & p, i {
        @include media(mobile) {
            font-size: .9em;
        }
        @include media(tablet, desktop) {
            font-size: 1em;
        }
    }

    @include media(mobile, tablet) {
        margin: 20px 7%;
    }
    @include media(desktop) {
        margin: 20px 15%;
    }
}
