<s_list>
<main id="list">
<s_list_empty>
<div class="list-empty" id="list-empty">
<p>No article was found</p>
<ul>
<li>Try different keywords.</li>
<li>Try more general keywords.</li>
</ul>
</div>
</s_list_empty>
<div class="list-container">
<s_list_rep>
<a class="list-repeat" href="[##_list_rep_link_##]" id="list-repeat">
<img alt="[##_list_rep_title_##] Thumbnail" src="[##_list_rep_thumbnail_url_##]"/>
<div class="article-info">
<h3 class="title">[##_list_rep_title_##]</h3>
<p class="written">[##_list_rep_date_year_##]/[##_list_rep_date_month_##]/[##_list_rep_date_day_##] [##_list_rep_date_hour_##]:[##_list_rep_date_minute_##]:[##_list_rep_date_second_##] - [##_list_rep_author_##]</p>
<div class="prev">[##_list_rep_summary_##]</div>
</div>
</a>
</s_list_rep>
</div>
</main>
</s_list>