<s_list>
<main rid="list">
<s_list_empty>
<div class="list-empty" rid="list-empty">
<p>No article was found</p>
<ul>
<li>Try different keywords.</li>
<li>Try more general keywords.</li>
</ul>
</div>
</s_list_empty>
<div class="list-container">
<s_list_rep>
<a class="list-repeat" href="[##_list_rep_link_##]" rid="list-repeat">
<img alt="[##_list_rep_title_##] Thumbnail" src="[##_list_rep_thumbnail_url_##]"/>
<div class="article-info">
<h3 class="title">[##_list_rep_title_##]</h3>
<p class="written">[##_list_rep_date_year_##]/[##_list_rep_date_month_##]/[##_list_rep_date_day_##] [##_list_rep_date_hour_##]:[##_list_rep_date_minute_##]:[##_list_rep_date_second_##] - [##_list_rep_author_##]</p>
<div class="prev">[##_list_rep_summary_##]</div>
</div>
</a>
</s_list_rep>
<s_paging>
<div class="list-paging" rid="list-paging">
<a [##_prev_page_##]="" class="[##_no_more_prev_##]">◀ PREV</a>
<s_paging_rep>
<a [##_paging_rep_link_##]="" class="list-element" rid="list-element">[##_paging_rep_link_num_##]</a>
</s_paging_rep>
<a [##_next_page_##]="" class="[##_no_more_next_##]">NEXT ▶</a>
</div>
</s_paging>
</div>
</main>
</s_list>